extends layout

block header
  case true
    when resultsArray !== undefined
    when errorsArray !== undefined
      h1.hide Rhyme Time
    default 
      h1.salmon Rhyme Time
block main
  span#main
    case true
      when resultsArray !== undefined
      when errorsArray !== undefined
        p.poppins.text-left 
          span.salmon Rhyme Time 
          | by Jacob Her
      default
        p Type in the box Mr Fox in sox sir...
    span.spacer(aria-hidden='true') &nbsp;
    form#rhymeForm(method='post' novalidate)
      span.md-flex.flex-row.justify-between
        label.hide(for='rhymeText') Please enter a word of 15 characters or less
        input#rhymeText(type='text' autofocus='true' name='rhymeText' placeholder='fox' maxLength='15' pattern='[A-Za-z]+' title='text only non-numberic values' required)
        span.error(aria-live='polite')
        if errorsArray
          - var serverError = (errorsArray.length == 2) ? errorsArray[1].msg : errorsArray[0].msg
          span.error(aria-live='polite') #{serverError}
        button#rhymeButton(type='submit') SEARCH
      span.spacer(aria-hidden='true') &nbsp;
      span.spacer(aria-hidden='true') &nbsp;
      span.flex.flex-row.justify-end.items-center
        label.smaller.mr2(for='maxResults') Number of Words to Display: 
        select#maxResults
          option(value='25' selected="selected") 25
          option(value='50') 50
          option(value='100') 100
          option(value='500') 500

  - var slantRhymesArray = []
  if resultsArray
    - var counter
    - var syllables = ["1", "2", "3", "4"]
    
    #results.text-center
      h2.center Results for '#{wordSearched}'

      span.flex.flex-row.flex-wrap.justify-around.text-left
        each value,index in syllables
          - counter = 0
          ul(class=`${value}-syllable`)
            li 
              h3.salmon.uppercase 
                | #{value} Syllable Words
            each object in resultsArray
              if object.syllables == (index + 1) && object.score > 225
                li.block #{object.word}
                - counter = counter + 1
              else 
                - slantRhymesArray.push(object)
            if counter == 0
              span.smaller.gray.capitalize None
      span.spacer(aria-hidden='true') &nbsp;
      span.spacer(aria-hidden='true') &nbsp;
      a.salmon.inline-block(href='/') Start over
      
    //-TODO Something broken here
    //- div.secondary-results
    //-   h2 Words that almost rhyme with '#{wordSearched}'
    //-   span.flex.flex-row.flex-wrap.justify-around
    //-     each value,index in syllables
    //-       - counter = 0
    //-       ul(class=`${value}-syllable`)
    //-         li 
    //-           h3.uppercase #{value} Syllable Words
    //-         span= slantRhymesArray[0].word
    //-         each object in slantRhymesArray
    //-           if object.syllables == (index + 1) && object.score =< 250
    //-             li.block #{object.word}
    //-             - counter = counter + 1
    //-         if counter == 0
    //-           span.capitalize No ${value} Syllable Words Found
