extends layout

block header
  case true
    when resultsArray !== undefined
    when errorsArray !== undefined
      h1.hide rhyme time
    default 
      h1.salmon rhyme time

block main
  span#main
    case true
      when resultsArray !== undefined
      when errorsArray !== undefined
        p.poppins.text-left 
          span.salmon rhyme time 
          | by jacob her
      default
        p type in the box mr fox in sox sir...
    +spacer(8)
    form#rhymeForm(method='post' novalidate)
      span.md-flex.flex-row.justify-between
        label.hide(for='rhymeText') Please enter a word of 15 characters or less
        input#rhymeText(type='text' autofocus='true' name='rhymeText' placeholder='fox' maxLength='15' pattern='[A-Za-z]+' title='text only non-numberic values' required)
        span.error(aria-live='polite')
        if errorsArray
          - var serverError = (errorsArray.length == 2) ? errorsArray[1].msg : errorsArray[0].msg
          span.error(aria-live='polite') #{serverError}
        button#rhymeButton(type='submit') SEARCH
      +spacer(16)
      span.flex.flex-row.justify-end.items-center
        label.smaller.mr2(for='maxResults') number of words to display: 
        select#maxResults
          option(value='25' selected="selected") 25
          option(value='50') 50
          option(value='100') 100
          option(value='500') 500

  - var slantRhymesArray = []
  if resultsArray !== undefined
    - var counter
    - var syllables = ["1", "2", "3", "4"]
    
    #results.inset.text-center
      +spacer(16)
      h2.center 
        | #{wordSearched} 
        span.salmon rhymes
      span.flex.flex-row.flex-wrap.justify-around.text-left
        each value,index in syllables
          - counter = 0
          ul(class=`${value}-syllable`)
            li 
              h3.salmon.uppercase 
                | #{value} Syllable Words
            each object in resultsArray
              if object.syllables == (index + 1) && object.score >= 225
                li.block #{object.word}
                - counter = counter + 1
              else if object.syllables == (index + 1) && object.score < 225 && object.score > 100
                - slantRhymesArray.push(object.word)
            if counter == 0
              span.smaller.gray.capitalize None
      +spacer(24)
      .rule.inset.bg-salmon

  if slantRhymesArray.length > 0
    div#slant-rhymes.inset
      h2.center 
        | #{wordSearched} 
        span.salmon slant shymes
      ul.text-center.block
        each value in slantRhymesArray
          li #{value} 
      +spacer(40)
      .rule.inset.bg-salmon

  if resultsArray !== undefined || slantRhymesArray.length > 0
    a.salmon.inline-block.my3(href='/') start over
